<head>
    <title>Example Page</title>
</head>
<body>
    <div id="headerSection">
        <h1>Hello world</h1>
        <p>This is in the header section</p>
    <div>
    <div id="contentSection">
        <p>This is just some example html</p>
        <button>Click me</button>
    </div>
</body>